{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Тестовое задание</h1>
        <span class="navbar-text" style="margin-right: 20px; display: flex">
            {% if request.user.is_authenticated %}
            <span class="auth" style="display: flex; margin-left: 0px;">
              Привет, {{ user.username }} | <a href="{% url 'Logout' %}"> выйти </a>
            </span>
            {% else %}
            <span class="noauth" style="margin-right: 20px; display: flex;">
              <a href="{% url 'register' %}"> Регистрация </a> | <a href="{% url 'login' %}"> Логин </a>
            </span>
            {% endif %}
        </span>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p class="footer_p">Тестовое задание 2024</p>
    </footer>
</body>
</html>