{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Тестовое задание</h1>
        <span class="reg">
            <li>
                <a href="{% url 'register' %}" class="link_reg">Зарегистрироваться</a>
            </li>
            <li>
                <a href="{% url 'login' %}" class="link_reg">Войти</a>
            </li>
        </span>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p class="footer_p">Тестовое задание 2024</p>
    </footer>
</body>
</html>